
body {
	color: white;
	font-family: Lato, 'Trebuchet MS', 'sans-serif';
	font-style: normal;
}

.glass {
   background-color: rgba( 255,255, 255, 0.1); /* transparent white */
   color:white;
   display:inline-block;
   border-radius: 15px;
   padding: 5px;
}
.boton {
	margin-top: 5px;
	margin-left: 20px;
	border-width: 2px;
	border-style: solid;
	border-color: #0090ea;
	height: 50px;
}
.boton:hover {
	cursor: pointer;
}

.dashboardCamaras {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	padding: 0;
	margin: 5px 30px 5px 30px;

	flex-direction: column;
	min-width: 1200px;
	max-width: 1800px;

	flex-wrap: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.barraHorizontalBotonera {
	background-color: #222222;
	background: linear-gradient(#444444, #000000, #032b44);

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	padding: 5px 0 0 0;
	margin: 0;
	list-style: none;

	flex-direction: row;
	height: 80px;
	align-items: center;
	flex-wrap: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	align-items: center;
}
.barraHorizontalBotonera .botoneraIzquierda {
	width: 600px;
	min-width: 600px;
	height: 80px;
	min-height: 80px;
	max-height: 80px;
	margin-left: 200px;
	align-items: center;
	align-content: space-between;
}
.barraHorizontalBotonera .botoneraDerecha {
	width: 600px;
	min-width: 600px;
	min-height: 80px;
	max-height: 80px;
	margin-left: 200px;
	margin-left: auto;
	align-items: center;
	align-content: space-between;
}
.barraHorizontalBotonera .infoUsuario {
	width: 100px;
	min-width: 300px;
	min-height: 80px;
	max-height: 80px;
	/*margin-left: 200px;*/
	align-items: center;
	align-content: flex-end;
}
.barraHorizontalBotonera .infoUsuario .info {
	width: 250px;
	height: 65px;
	text-align: right;
	padding-right: 10px;
}

.dashboardCentral {
	background-color: #222222;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	padding: 0;
	margin: 0;
	list-style: none;

	flex-direction: row;
	height: 620px;
	min-height: 620px;
	flex-basis: auto;
	flex-grow: 1;
	flex-wrap: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;

	justify-content: space-between;
}

.barraHorizontalBottom {
	background-color: #222222;
	background: linear-gradient(#444444, #222222);

	padding: 0;
	margin: 0;
	list-style: none;

	flex-direction: row;
	height: 200px;
	flex-wrap: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.espacioStreaming {
	background-color: ##222222;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	padding: 0;
	margin: 0;
	list-style: none;

	min-width: 600px;
	max-width: 1200px;
	height: 620px;
	min-height: 620px;
	flex-direction: row;
	flex: 0 0 auto;
	flex-wrap: nowrap;
	flex-grow: 1;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.espacioGIS {
	background-color: white;

	padding: 0;
	margin: 0;
	list-style: none;

	width: 600px;
	height: 620px;
	flex: 0 0 auto;
}

.espacioPropiedades {
	background-color: #222222;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	padding: 0;
	margin: 0;
	list-style: none;

	flex-direction: column;
	width: 165px;
	min-width: 100px;
	max-width: 200px;
	height: 600px;
}
.dockPropiedadesH {
	background-color: #032b44;

	margin: 2px 0 1px 0;
	min-width: 1615px;
	max-width: 1700px;
	width: 1615px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.dockPropiedadesV {
	background-color: #032b44;

	margin: 2px 0 1px 0;
	min-width: 160px;
	max-width: 165px;
	width: 165px;
	height: 600px;
	overflow-x: hidden;
	overflow-y: scroll;
}
/*.dockPropiedades table { width: 100% } */
.dockPropiedadesH .encabezadoDock, .dockPropiedadesV .encabezadoDock {
	font-weight: bold;
	background: linear-gradient(#0090ea,#001725);
}
.dockPropiedadesH .cuerpoDock, .dockPropiedadesV .cuerpoDock {
	font-size: 0.85em;
}

.dockPropiedadesH .cuerpoDock tr:hover,.dockPropiedadesV .cuerpoDock tr:hover {
	background-color: #0090ea;
}

.dockPropiedadesV table {
	width: 160px;
}
.dockPropiedadesH table {
	width: 1600px;
}

.panelVideos {
	background-color: #222222;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	padding: 0;
	margin: 0;
	list-style: none;

	width: 1000px;
	max-width: 1030px;
	height: 600px;
	overflow-y: scroll;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.video {
	background-color: black;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	border-width: 2px;
	border-style: solid;
	border-color: #222222;
	margin: 0;
	padding: 0;
	width: 480px;
	height: 295px;
	flex-direction: column;
	border-color: black;
}

.video .cabeceraVideo {
	border: 0;
	margin: 0;
	padding: 0;
	width: 480px;
	height: 40px;
}

.video .pieVideo {
	border: 0;
	margin: 0;
	padding: 0;
	width: 480px;
	height: 15px;
}
